---
layout: layouts/post.njk
title: Journal
templateClass: tmpl-post
eleventyNavigation:
  key: Journal
  order: 5
---


<p>You will find my daily posts here about what I'm working on and thinking about</p>
