---
layout: layouts/base.njk
templateClass: tmpl-home
---
<div class="hero">
  <h1>Welcome to my journal</h1>
  <h3>This is where I write stuff</h3>
  <p>Lorem in the ipsa, yo im gonna dipsay. Oh on my nizzay, down with G-zay. Gone I'm from Rome, hit me up I'm goin home, I'm all alone with my phone, give a dog a fuckin bone. I can't say dat, i'm afraid dat, you got a gat, and it gon rat tat tat, on yo ass ass, kill you real fast fast, boom boom oh blas blast. throw me a pass pass, i'm to fast fast, burnin yo ass ass, burnin dat grass grass.</p>
  <br />
  <p>I can't stay, cause I play, dis ole game, its not tame. fuck around and get killed just for your name, what a shame. Shouldnt have played all afraid to get paid. kill or be killed is my whole mental state. If you don't pull the trigger before the other ***** you will be a bloody ol fucked up hamburger of. 
  </p>
</div>
<div class="section-two">


<div class="mid-pic">
  <img src="https://res.cloudinary.com/tar-heel-dev-studio/image/upload/v1671604074/beauxzubie_1_blscq8.png" />
</div>

{{ content | safe }}
